header{
    font-family: "Tangerine", serif;
    font-size: 24px;
    text-shadow: 4px 4px 4px #aaa;
    max-width: 1000px;
    min-width: 500px;
    height: 150px;
    background-color: red;

    margin:auto;/*размеает по центру*/
}

section {
    max-width: 1000px;
    min-width: 500px;
    margin:auto;
}

nav{
    width: 200px;
    height: 450px;
    background-color: green;
    float: left;
}

article{
    height: 450px;
    background-color: blue;
    overflow: scroll;
}

footer{
    max-width: 1000px;
    min-width: 500px;
    height: 100px;
    background-color: grey;
    margin:auto;
}

a {
    text-decoration-line: underline;
    text-decoration-color: orange;
    text-decoration-style: dashed;
    scroll-behavior: auto
    
}